PORT=8102
RAPIDAPI_PROXY_SECRET=xxxx
AWS_ENDPOINT=sgp1.digitaloceanspaces.com
AWS_REGION=sgp1
AWS_BUCKET=xxxx
AWS_ACCESS_KEY_ID=XXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXX/XXXXXXXXXXX
SENTRY_DSN=https://xxxx@sentry.io/xxxxx
GOOGLE_APPLICATION_CREDENTIALS=google.json